.taskContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 16px 20px;
    font-size: 12px;
    cursor: pointer;
}

.buttonRemove{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.inputCheckbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.taskLight{
    background-color: hsl(0, 0%, 100%, 1);
    border-bottom: solid 1px hsl(236, 32%, 92%, 1);
    color: hsl(235, 19%, 35%, 1);
}

.taskDark{
    background-color: hsl(235, 25%, 19%, 1);
    border-bottom: solid 1px hsl(235, 14%, 26%, 1);
    color: hsl(235, 39%, 85%, 1);
}

.completedTextDark{
    text-decoration: line-through;
    color: #4D5067;
}

.completedTextLight{
    text-decoration: line-through;
    color: #D1D2DA;
}


.checkbox[type="checkbox"] {
    appearance: none;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    transform: translateY(-1.2px);
    display: grid;
    place-content: center;
}

.checkboxThemeLight[type="checkbox"]{
    background-color: #FFF;
    border: 1px solid #979797;
}

.checkboxThemeDark[type="checkbox"]{
    background-color: #24263d;
    border: 1px solid #5f5c41;
}

.checkbox[type="checkbox"]::before {
    content: "";
    width: 8px; 
    height: 8px;
    transform: scale(0);
} 

.checkboxThemeLight[type="checkbox"]::before {
    box-shadow: inset 16px 16px #25273D;
}

.checkboxThemeDark[type="checkbox"]::before {
    box-shadow: inset 16px 16px #D1D2DA;
}

.checkbox[type="checkbox"]:checked::before {
    transform: scale(1);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}


@media screen and (min-width: 720px) {
    .taskContainer {
        padding: 24px 20px;
        font-size: 18px;
    }
}
