/*font-family: 'Josefin Sans', sans-serif;*/

.appContainer {
    min-height: 100vh;
}

.bgLight {
    background-image: url("./assets/bg-desktop-light.jpg");
    background-position: top center;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: hsla(0, 0%, 98%, 1);
}

.bgDark {
    background-image: url("./assets/bg-desktop-dark.jpg");
    background-position: top center;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: hsla(235, 21%, 11%, 1);
}

.todoContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 720px;
    gap: 24px;
    border-radius: 5px;
    padding: 48px 26px;
}

.listTaskContainer {
    border-radius: 5px;
    overflow: hidden;
}

.listTaskContainerLight {
    box-shadow: 0 35px 50px -15px rgba(194, 195, 214, 0.5);
}

.listTaskContainerDark {
    box-shadow: 0 35px 50px -15px rgba(0, 0, 0, 0.5);
}


@media screen and (min-width: 992px) {
    .todoContainer {
        padding-top: 70px;
    }

    .bgLight,
    .bgDark {
        background-size: contain;
    }
}